<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">CARACTERIZACIÓN</h1>
<form action="">
<input type="text" placeholder="E-mail">
<input type="text" placeholder="Nombre">
<input type="text" placeholder="Apellidos">
<input type="text" placeholder="Teléfono- Whatsapp">
<input type="text" placeholder="Nombre de la organización/ empresa/ asociación/ persona que presta los servicios o productos turísticos">
<input type="text" placeholder="Descripción de la organización/ empresa/ asociación">
<input type="text" placeholder="Logo">
<input type="text" placeholder="Comparte unas fotos de tu organización con los viajeros">
<input type="text" placeholder="En qué estado se encuentra tu iniciativa">
<input type="text" placeholder="¿Desde cuándo está operando?">
<input type="text" placeholder="¿Qué tamaño tiene la organización?">
<input type="text" placeholder="En qué País opera">
<input type="text" placeholder="Departamento">
<input type="text" placeholder="Municipio">
<input type="text" placeholder="Dirección del domicilio de la Organización">
<input type="text" placeholder="Página Web">
<input type="text" placeholder="Facebook">
<input type="text" placeholder="Instagram">
<input type="text" placeholder="Twitter">
<input type="text" placeholder="Canal de Youtube">
<input type="text" placeholder="Otras Redes Sociales">
<input type="text" placeholder="¿Qué tipo de turismo ofreces?">
<input type="text" placeholder="¿Tus servicios o productos turísticos son de enfoque étnico?">
<input type="text" placeholder="¿Tus servicios o productos turísticos tienen enfoque por grupos de edad?">
<input type="text" placeholder="¿Tus servicios o productos turísticos tienen acceso a personas con discapacidad o movilidad reducida?">
<input type="text" placeholder="Tus servicios o productos turísticos se brindan en ">
<input type="text" placeholder="Estarías dispuesto a recibir voluntarios en tu organización">
<div class="text-center"><input type="button" value="Guardar" class="button"></div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu
		}
	}
</script>