<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">CARACTERIZACIÓN</h1>
			<div class="text-right"><router-link to="/characterization/create" class="button success">Crear</router-link></div>
			<table class="hover">
				<thead>
					<tr>
						<td>Nombre</td>
						<td width="20%">Editar</td>
						<td width="20%">Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nombre</td>
						<td><router-link to="/characterization/update" class="button warning">Editar</router-link></td>
						<td><router-link to="/characterization/delete" class="button alert">Eliminar</router-link></td>
					</tr>
				</tbody>
			</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu
		}
	}
</script>