<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
						<h1 class="text-center">CARACTERIZACIÓN</h1>
						<h2 class="text-center">PASO 2</h2>
						<form @submit.prevent="addItem">
							<input type="hidden" :value="$auth.user().id">
							<div class="row">
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Nombre de la Organización / Empresa / Asociación / Persona que Presta los Servicios o Productos Turísticos:</span>
										<input type="text" class="input-group-field" v-model="item.organization_name" required>
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Descripción de la Organización / Empresa / Asociación / Persona que Presta los Servicios o Productos Turísticos:</span>
										<textarea class="input-group-field" v-model="item.organization_description" required></textarea>
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Logo:</span>
										<input type="text" class="input-group-field" v-model="item.logo">
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Comparte Algunas Fotos de tu Organización:</span>
										<input type="text" class="input-group-field" v-model="item.share_some_photos">
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">En Qué Estado Se Encuentra Tu Iniciativa:</span>
										<select class="input-group-field" v-model="item.in_what_state_id">
											<option value="">Seleccione</option>
											<option v-for="select_in_what_state in select_in_what_states" :key="select_in_what_state.id" :value="select_in_what_state.id">{{ select_in_what_state.name.es }}</option>
										</select>
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">¿Desde Cuándo Está Operando?:</span>
										<input type="date" class="input-group-field" v-model="item.since_when">
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">¿Qué Tamaño Tiene La Organización?:</span>
										<select class="input-group-field" v-model="item.how_big_is_id">
											<option value="">Seleccione</option>
											<option v-for="select_how_big_is in select_how_big_iss" :key="select_how_big_is.id" :value="select_how_big_is.id">{{ select_how_big_is.name.es }}</option>
										</select>
									</div>
								</div>
								<div class="small-12 medium-4 columns">
									<div class="input-group">
										<span class="input-group-label">En Qué País Opera:</span>
										<select class="input-group-field" v-model="item.location_country_id">
											<option value="">Seleccione</option>
											<option v-for="location_country in location_countries" :key="location_country.id" :value="location_country.id">{{ location_country.name.es }}</option>
										</select>
									</div>
								</div>
								<div class="small-12 medium-4 columns">
									<div class="input-group">
										<span class="input-group-label">Departamento:</span>
										<select class="input-group-field" v-model="item.location_department_id">
											<option value="">Seleccione</option>
											<option v-for="location_department in location_departments" :key="location_department.id" :value="location_department.id">{{ location_department.name.es }}</option>
										</select>
									</div>
								</div>
								<div class="small-12 medium-4 columns">
									<div class="input-group">
										<span class="input-group-label">Municipio:</span>
										<select class="input-group-field" v-model="item.location_township_id">
											<option value="">Seleccione</option>
											<option v-for="location_township in location_townships" :key="location_township.id" :value="location_township.id">{{ location_township.name.es }}</option>
										</select>
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Dirección del Domicilio de la Organización:</span>
										<input type="text" class="input-group-field" v-model="item.organization_address">
									</div>
								</div>
								<div class="small-12 columns text-center">
									<button type="submit" class="button">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	export default {
		mounted() {
			console.log('Success Characterization Step 2');
		},
		components: {
			LeftMenu
		},
		data() {
			return {
				item: {},
				select_in_what_states: [],
				select_how_big_iss: [],
				location_countries: [],
				location_departments: [],
				location_townships: []
			}
		},
		created() {
			let select_in_what_state = '/select_in_what_state';
			this.axios.get(select_in_what_state).then(response => {
				this.select_in_what_states = response.data.data;
			});
			let select_how_big_is = '/select_how_big_is';
			this.axios.get(select_how_big_is).then(response => {
				this.select_how_big_iss = response.data.data;
			});
			let location_country = '/location_country';
			this.axios.get(location_country).then(response => {
				this.location_countries = response.data.data;
			});
			let location_department = '/location_department';
			this.axios.get(location_department).then(response => {
				this.location_departments = response.data.data;
			});
			let location_township = '/location_township';
			this.axios.get(location_township).then(response => {
				this.location_townships = response.data.data;
			});
		},
		methods: {
			addItem() {
				let uri = '/characterization/step2';
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'characterization-step3'
					});
				});
			}
		}
	}
</script>