<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
						<h1 class="text-center">CARACTERIZACIÓN</h1>
						<h2 class="text-center">PASO 1</h2>
						<form @submit.prevent="addItem">
							<input type="hidden" :value="$auth.user().id">
							<div class="row">
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">E-mail:</span>
										<input type="email" class="input-group-field" v-model="item.email" required>
									</div>
								</div>
								<div class="small-12 medium-6 columns">
									<div class="input-group">
										<span class="input-group-label">Nombre:</span>
										<input type="text" class="input-group-field" v-model="item.first_name" required>
									</div>
								</div>
								<div class="small-12 medium-6 columns">
									<div class="input-group">
										<span class="input-group-label">Apellidos:</span>
										<input type="text" class="input-group-field" v-model="item.last_name" required>
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Teléfono - WhatsApp:</span>
										<input type="number" class="input-group-field" v-model="item.phone" required>
									</div>
								</div>
								<div class="small-12 columns text-center">
									<button type="submit" class="button">Siguiente</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	export default {
		mounted() {
			console.log('Success Characterization Step 1');
		},
		components: {
			LeftMenu
		},
		data() {
			return {
				item: {}
			}
		},
		created() {},
		methods: {
			addItem() {
				let uri = '/characterization/step1';
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'characterization-step2'
					});
				});
			}
		}
	}
</script>