<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">CARACTERIZACIÓN</h1>
<ul class="tabs" data-tabs id="example-tabs">
	<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Paso 1</a></li>
	<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Paso 2</a></li>
	<li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Paso 3</a></li>
</ul>
<form action="">
<div class="tabs-content" data-tabs-content="example-tabs">
	<div class="tabs-panel is-active" id="panel1">
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="E-mail">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-6 columns">
				<input type="text" placeholder="Nombre">
			</div>
			<div class="small-12 medium-6 columns">
				<input type="text" placeholder="Apellidos">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Teléfono- Whatsapp">
			</div>
		</div>
	</div>
	<div class="tabs-panel" id="panel2">
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Nombre de la organización/ empresa/ asociación/ persona que presta los servicios o productos turísticos">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Descripción de la organización/ empresa/ asociación">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Logo">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Comparte unas fotos de tu organización con los viajeros">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="En qué estado se encuentra tu iniciativa">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Desde cuándo está operando?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Qué tamaño tiene la organización?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Qué tamaño tiene la organización?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<input type="text" placeholder="En qué País opera">
			</div>
			<div class="small-12 medium-4 columns">
				<input type="text" placeholder="Departamento">
			</div>
			<div class="small-12 medium-4 columns">
				<input type="text" placeholder="Municipio">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Dirección del domicilio de la Organización">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Página Web">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Facebook">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Instagram">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Twitter">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Canal de Youtube">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Otras Redes Sociales">
			</div>
		</div>
	</div>
	<div class="tabs-panel" id="panel3">
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Qué tipo de turismo ofreces?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Tus servicios o productos turísticos son de enfoque étnico?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Tus servicios o productos turísticos tienen enfoque por grupos de edad?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="¿Tus servicios o productos turísticos tienen acceso a personas con discapacidad o movilidad reducida?">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Tus servicios o productos turísticos se brindan en">
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-12 columns">
				<input type="text" placeholder="Estarías dispuesto a recibir voluntarios en tu organización">
			</div>
		</div>
	</div>
</div>
<div class="text-center"><input type="button" value="Guardar" class="button"></div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu
		}
	}
</script>