<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<Menu></Menu>
			<h1 class="text-center">GUIANZA</h1>
			<div class="text-right"><router-link :to="{ name: 'guidance-create' }" class="button success tiny">Crear</router-link></div>
			<table class="hover">
				<thead>
					<tr>
						<td>ID</td>
						<td>Nombre</td>
						<td width="15%">Tarifas</td>
						<td width="15%">Editar</td>
						<td width="15%">Eliminar</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in items" :key="item.id">
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td><router-link :to="{ name: 'guidance-rates', params: { id: item.id } }" class="button success tiny">Tarifas</router-link></td>
						<td><router-link :to="{ name: 'guidance-update', params: { id: item.id } }" class="button warning tiny">Editar</router-link></td>
						<td><button class="button alert tiny" @click.prevent="deleteItem( item.id )">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
	</div>
	</div>
	</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Guidance Read');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				items: []
			}
		},
		created() {
			let uri = '/guidance';
			this.axios.get(uri).then(response => {
				this.items = response.data.data;
			});
		},
		methods: {
			deleteItem( id ) {
				let uri = `/guidance/delete/${id}`;
				this.axios.delete(uri).then(response => {
					this.items.splice(this.items.indexOf(id), 1);
				});
			}
		}
	}
</script>