<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<Menu></Menu>
			<h1 class="text-center">GUIANZA</h1>
			<h2 class="text-center">EDITAR</h2>
			<form @submit.prevent="updateItem">
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Nombre</span>
							<input type="text" class="input-group-field" v-model="item.name">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Qué Servicio o Ruta de Guianza Ofreces?</span>
							<textarea class="input-group-field" v-model="item.type_of_guidance"></textarea>
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Mínimo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.minimum_of_travelers">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Máximo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.maximum_of_travelers">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunas Fotos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_photos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunos Vídeos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_videos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte la Ubicación en Google Maps</span>
							<input type="text" class="input-group-field" v-model="item.location">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Dispones de Material Didáctico o Ayudas Pedagógicas para el Viajero?</span>
							<select class="input-group-field" v-model="item.teaching_material">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cargar Archivo</span>
							<input type="text" class="input-group-field" v-model="item.teaching_material_file">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Dispones de Acreditación como Guía Turístico</span>
							<select class="input-group-field" v-model="item.accreditation">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Tarjeta Profesional</span>
							<input type="number" class="input-group-field" v-model="item.professional_card">
						</div>
					</div>
					<div class="small-12 columns text-center">
						<button type="submit" class="button">Guardar</button>
					</div>
				</div>
			</form>
	</div>
	</div>
	</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Guidance Update');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				item: {}
			}
		},
		created() {
			let uri = `/guidance/edit/${this.$route.params.id}`;
			this.axios.get(uri).then((response) => {
				this.item = response.data;
			});
		},
		methods: {
			updateItem() {
				let uri = `/guidance/update/${this.$route.params.id}`;
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'guidance-read'
					});
				});
			}
		}
	}
</script>