<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<Menu></Menu>
			<h1 class="text-center">ALOJAMIENTO</h1>
			<h2 class="text-center">EDITAR</h2>
			<form @submit.prevent="updateItem">
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Nombre</span>
							<input type="text" class="input-group-field" v-model="item.name">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Qué Tipo de Alojamiento Ofreces?</span>
							<select class="input-group-field" v-model="item.type_of_accommodation_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Descripción</span>
							<textarea class="input-group-field" v-model="item.description"></textarea>
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Mínimo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.minimum_of_travelers">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Máximo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.maximum_of_travelers">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunas Fotos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_photos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunos Vídeos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_videos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte la Ubicación en Google Maps</span>
							<input type="text" class="input-group-field" v-model="item.location">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Aire Acondicionado o Calefacción</span>
							<select class="input-group-field" v-model="item.air_conditioner">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Servicios Sanitarios</span>
							<select class="input-group-field" v-model="item.health_services">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Suministro de Permanente de Agua Potable</span>
							<select class="input-group-field" v-model="item.drinking_water">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Suministro de Energía Eléctrica Permanente</span>
							<select class="input-group-field" v-model="item.electric_power">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Telefonía (Señal o Punto de Teléfono)</span>
							<select class="input-group-field" v-model="item.telephony">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Internet (Señal Wi-Fi o Punto de Servicio)</span>
							<select class="input-group-field" v-model="item.internet">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Condiciones de Alojamiento para</span>
							<select class="input-group-field" v-model="item.accommodation_for_id">
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Para Cuántas Personas en Total Tienes Disponibilidad</span>
							<input type="number" class="input-group-field" v-model="item.people_in_total">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Cuántas en Acomodación Sencilla</span>
							<input type="number" class="input-group-field" v-model="item.simple_accommodation">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Cuántas en Acomodación Doble</span>
							<input type="number" class="input-group-field" v-model="item.double_accommodation">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Cuántas en Acomodación Compartida</span>
							<input type="number" class="input-group-field" v-model="item.shared_accommodation">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Cuántas en Otros Tipos de Acomodación</span>
							<input type="number" class="input-group-field" v-model="item.other_types_of_accommodation">
						</div>
					</div>
					<div class="small-12 columns text-center">
						<button type="submit" class="button">Guardar</button>
					</div>
				</div>
			</form>
	</div>
	</div>
	</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Accommodation Update');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				item: {}
			}
		},
		created() {
			let uri = `/accommodation/edit/${this.$route.params.id}`;
			this.axios.get(uri).then((response) => {
				this.item = response.data;
			});
		},
		methods: {
			updateItem() {
				let uri = `/accommodation/update/${this.$route.params.id}`;
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'accommodation-read'
					});
				});
			}
		}
	}
</script>