<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">PERFIL</h1>
<form>
	<div>
		<input type="text" id="name" placeholder="Nombres" v-model="name">
	</div>
	<div>
		<input type="text" id="surname" placeholder="Apellidos" v-model="surname">
	</div>
	<div>
		<input type="text" id="cellphone" placeholder="Celular" v-model="cellphone">
	</div>
	<div>
		<input type="email" id="email" placeholder="E-mail" v-model="email">
		<div class="callout small alert" v-if="has_error && errors.email">{{ errors.email }}</div>
	</div>
	<div>
		<input type="password" id="password" placeholder="Contraseña" v-model="password">
		<div class="callout small alert" v-if="has_error && errors.password">{{ errors.password }}</div>
	</div>
	<div>
		<input type="password" id="password_confirmation" placeholder="Confirmación de Contraseña" v-model="password_confirmation">
	</div>
	<div class="text-center">
		<button type="submit" class="button">Guardar</button>
	</div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				name: '',
				surname: '',
				cellphone: '',
				email: '',
				password: '',
				password_confirmation: '',
				has_error: false,
				error: '',
				errors: {},
				success: false
			}
		}
	}
</script>