@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Tukán

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2019

************************************************************************************************************************ */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Settings
@import 'settings';

// Foundation
@import '~foundation-sites/assets/foundation';
@include foundation-flex-grid;
@include foundation-flex-classes;

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}