<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">DOCUMENTACIÓN</h1>
<form action="">
<input type="text" placeholder="¿Tu Organización tiene Registro Único Tributario (RUT)?">
<input type="text" placeholder="Número RUT">
<input type="text" placeholder="Adjunta PDF de tu RUT">
<input type="text" placeholder="¿Tu Organización tiene Registro Nacional de Turismo (RNT)?">
<input type="text" placeholder="Número RNT">
<input type="text" placeholder="Adjunta PDF de tu RNT">
<input type="text" placeholder="¿Por qué Medio Prefieres que te Hagamos los Pagos?">
<input type="text" placeholder="A qué Cuenta Quieres que te Consignemos">
<input type="text" placeholder="Giros Efecty">
<input type="text" placeholder="Persona de Contacto">
<input type="text" placeholder="Cédula de Ciudadanía">
<input type="text" placeholder="Teléfono de Contacto">
<div class="text-center"><input type="button" value="Guardar" class="button"></div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu
		}
	}
</script>