<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<Menu></Menu>
			<h1 class="text-center">ALIMENTACIÓN</h1>
			<h2 class="text-center">CREAR</h2>
			<form @submit.prevent="addItem">
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Nombre</span>
							<input type="text" class="input-group-field" v-model="item.name">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Qué Servicios de Alimentación Ofreces?</span>
							<select class="input-group-field" v-model="item.type_of_feeding_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Descripción</span>
							<textarea class="input-group-field" v-model="item.description"></textarea>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Especificaciones</span>
							<textarea class="input-group-field" v-model="item.specifications"></textarea>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Opciones Preferenciales</span>
							<select class="input-group-field" v-model="item.feeding_preferential_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunas Fotos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_photos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunos Vídeos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_videos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte la Ubicación en Google Maps</span>
							<input type="text" class="input-group-field" v-model="item.location">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Certificado de Manipulación de Alimentos</span>
							<select class="input-group-field" v-model="item.food_handling">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Acceso Permanente a Agua Potable</span>
							<select class="input-group-field" v-model="item.drinking_water">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Cuentas con Suministro de Energía Eléctrica Permanente</span>
							<select class="input-group-field" v-model="item.electric_power">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns text-center">
						<button type="submit" class="button">Guardar</button>
					</div>
				</div>
			</form>
	</div>
	</div>
	</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Feeding Create');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				item: {}
			}
		},
		methods: {
			addItem() {
				let uri = '/feeding/create';
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'feeding-read'
					});
				});
			}
		}
	}
</script>