<template>
	<div class="small-12 medium-2 columns a text-center">
		<p class="text-center"><img src="http://development-02-diegomonroy.codeanyapp.com/tukan-test/build/tukan_form.png"></p>
		<p class="text-center"><router-link to="/perfil" class="button small expanded">Perfil</router-link></p>
		<p class="text-center"><router-link to="/characterization/step-1" class="button small expanded">Caracterización</router-link></p>
		<p class="text-center"><router-link to="/accommodation/read" class="button small expanded">Servicios</router-link></p>
		<p class="text-center"><router-link to="/routes/read" class="button small expanded">Rutas</router-link></p>
		<p class="text-center"><router-link to="/reportes" class="button small expanded">Reportes</router-link></p>
		<p class="text-center"><router-link to="/documentation/update" class="button small expanded">Documentación</router-link></p>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Left Menu CRUD');
		}
	}
</script>