<template>
	<div class="row align-center align-middle top-menu">
		<div class="small-12 columns">
			<ul class="menu align-center">
				<!--<li><router-link to="/characterization/read" class="button">Caracterización</router-link></li>-->
				<li><router-link to="/accommodation/read" class="button">Alojamiento</router-link></li>
				<li><router-link to="/transport/read" class="button">Transporte</router-link></li>
				<li><router-link to="/guidance/read" class="button">Guianza</router-link></li>
				<li><router-link to="/feeding/read" class="button">Alimentación</router-link></li>
				<li><router-link to="/culture/read" class="button">Cultura</router-link></li>
			</ul>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Menu CRUD');
		}
	}
</script>