@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Tukán

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2019

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #ffd600;
$background: #f1f1f1;
$border: #e2e2e2;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	background: {
		image: url(bg.svg);
		position: top;
		repeat: no-repeat;
		size: 100%;
	}
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.a {
		padding: 10px 0;
	}
	.b {
		padding: 10px 0;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-left {
				ul {
					background-color: transparent;
					li {
						&:before {
							padding: 5px 0;
							content: '|';
							color: #fff;
							float: right;
						}
						&:last-child {
							&:before {
								content: '';
							}
						}
						&:hover {
							background: {
								image: url(top_li_bg.png);
								position: bottom;
								repeat: no-repeat;
							}
						}
						a {
							font-size: 12px;
							color: #fff;
							&:hover,
							&.active {
								color: $secondary_color;
							}
						}
					}
				}
			}
		}
	}
	.c {
		.row {
			background-color: #000;
			select {
				margin: 0;
				background: transparent;
				border: 0;
				color: #fff;
			}
		}
	}
}

/* Banner */

.banner {
	.a {}
	.b {
		a.button {
			background-color: $secondary_color;
			border-radius: 0;
			font-weight: bold;
			color: #000;
		}
		ul.tabs {
			background-color: transparent;
			border: 0;
			display: flex;
			li {
				flex: auto;
				a {
					margin: 0 20px;
					padding: 15px;
					background-color: $secondary_color;
					-webkit-border-top-left-radius: 10px;
					-webkit-border-top-right-radius: 10px;
					-moz-border-radius-topleft: 10px;
					-moz-border-radius-topright: 10px;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					font-weight: bold;
					color: #000;
					&:hover {
						background-color: #fff;
					}
				}
				&.is-active {
					a {
						background-color: #fff;
						&:hover {
							background-color: $secondary_color;
						}
					}
				}
			}
		}
		.tabs-content {
			background-color: rgba(0, 0, 0, 0.5);
			border: 0;
			.input-group {
				border: 1px solid #fff;
				.input-group-label {
					background: transparent;
					border: 0;
					font-weight: bold;
					color: $secondary_color;
				}
				.input-group-field {
					background: transparent;
					border: 0;
					color: #fff;
				}
			}
			.button {
				background-color: $secondary_color;
				color: #000;
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	background-color: #fff;
	h1 {
		width: fit-content;
		margin: auto;
		margin-bottom: 30px;
		border-bottom: 2px solid $secondary_color;
		font: {
			size: 20px;
			weight: bold;
		}
		letter-spacing: 3px;
	}

	&.inside-form {
		background-color: transparent;
		.bg {
			background-color: #fff;
		}
		.profile {
			.a {
				padding: 40px 0;
				background-color: $secondary_color;
				a.button {
					padding: 20px 10px;
					background-color: $secondary_color;
					color: $primary_color;
					border: {
						top: 1px solid #fff;
						bottom: 1px solid #fff;
					}
					border-radius: 0;
					text-transform: uppercase;
					&:hover {
						background-color: #fff;
						color: $secondary_color;
					}
				}
			}
			.b {
				padding: 40px;
				h2 {
					width: fit-content;
					margin: auto;
					margin-bottom: 30px;
					border-bottom: 2px solid $secondary_color;
					font: {
						size: 18px;
						weight: bold;
					}
					letter-spacing: 3px;
				}
				input.button,
				button.button {
					background-color: $secondary_color;
					border-radius: 0;
					color: #000;
				}
			}
		}
	}
	
.inside {
		background-color: transparent;
		a.button {
			background-color: $secondary_color;
			border-radius: 0;
			color: #000;
		}
		.bg {
			padding: 20px;
			background-color: #fff;
		}
.title {
text-align: center;
width: 100%;
font-size: 27px;
font-family: 'Roboto';
font-weight: 600;
z-index: -1;
}

.buttons {
max-width: 92%;
width: 900px;
text-align: right;
margin: 20px auto 0;
padding-right: 3%;
}

button {
height: 36px;
width: 40px;
margin-left: 4px;
font-size: 24px;
color: orange;
text-align: center;
line-height: 1.4;
border-radius: 4px;
border: none;
outline: none;
background-color: white;
box-shadow: 0px 1px 2px #bbb;
}

button:hover {
cursor: pointer;
box-shadow: 0px 0px 3px #666;
}

button.on {
color: white;
background-color: #ccc;
}

.wrapper {
/*max-width: 92%;*/
width: 100%;
margin: 10px auto;
padding: 20px 20px 0;
font-family: Roboto;
position: relative;
overflow: hidden;
	a.button {
		background-color: $primary_color;
		color: #fff;
	}
}

.item {
background-color: #fff;
overflow: hidden;
border-radius: 2px;
box-shadow: 0px 1px 3px #bbb;
}

img {
	padding: 10px;
display: inline-block;
float: left;
max-height: 90%;
max-width: 90%;
padding: 1.2%;
}

a {
display: block;
transition: 0.2s;
}

a:hover {
opacity: 0.9;
cursor: pointer;
}

h2 {
transition: 0.2s;
}

h2:hover {
color: #666;
cursor: pointer;
}

span {
font-size: 24px;
}

span.price {
color: orange;
}

.list {
.item {
width: 100%;
margin: 0 auto 20px;
}

img {
max-width: 30%;
}

.details {
float: left;
max-width: 66%;
margin-top: 4%;
margin-left: 1%;
}
}

.grid {
.item {
width: 32%;
margin: 0 2% 20px 0;
float: left;
text-align: center;
}
	ul {
		text-align: justify;
	}

.item:nth-child(3n) {
margin-right: 0;
}

img {
padding-top: 0;
	padding: 20px 10px;
max-width: 90%;
margin: 0 auto;
float: none;
}

h2 {
font-size: 20px;
margin: 10px 0;
}

span {
display: inline-block;
margin-top: -6px;
font-size: 19px;
}

.details {
float: none;
max-width: 90%;
margin: -20px auto 0;

p {
margin-top: 8px;
}
} 

}
	}

	.top-menu {
		margin-bottom: 40px;
		.button {
			background-color: $secondary_color;
			color: $primary_color;
			&:hover {
				color: #fff;
			}
		}
	}

	.noticias {
		h3 {
			width: fit-content;
			margin-bottom: 30px;
			border-bottom: 2px solid $secondary_color;
			font: {
				size: 18px;
				weight: bold;
			}
			letter-spacing: 3px;
		}
	}

}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: #fff;
	h4 {
		font: {
			size: 14px;
			weight: bold;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding-top: 40px;
	h3 {
		width: fit-content;
		margin: auto;
		margin-bottom: 30px;
		border-bottom: 2px solid $secondary_color;
		font: {
			size: 20px;
			weight: bold;
		}
		letter-spacing: 3px;
	}
	.container {
		padding: 40px 0;
		background: {
			image: url(block_2_bg.svg);
			size: cover;
		}
	}
}

.block_2,
.block_4 {
	.box {
		padding: 20px;
		background-color: #fff;
		.image {
			margin-bottom: 10px;
		}
		.title {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 2px solid $secondary_color;
			font: {
				size: 14px;
				weight: bold;
			}
		}
		.description {}
		.view_more {
			a.button {
				background-color: $primary_color;
				border-radius: 0;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 40px 0;
	h3 {
		width: fit-content;
		margin: auto;
		margin-bottom: 30px;
		border-bottom: 2px solid $secondary_color;
		font: {
			size: 20px;
			weight: bold;
		}
		letter-spacing: 3px;
	}
	h4 {
		font: {
			size: 14px;
			weight: bold;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 40px 0;
	background: {
		image: url(block_4_bg.svg);
		size: cover;
	}
}

/* Block 5 */

.block_5 {
	padding: 40px 0;
	background-color: #fff;
	p {
		margin: 0;
	}
}

/* Block 6 */

.block_6 {
	padding: 40px 0;
	background-color: #f1f1f1;
	.input-group {
		margin: 0;
		.button {
			background-color: #000;
			color: $secondary_color;
		}
	}
}

/* Block 7 */

.block_7 {
	padding: 20px 0;
	background-color: #fff;
	ul {
		li {
			padding: 0 15px;
			a {
				padding: 0 15px;
				font-weight: bold;
				color: $primary_color;
				&:hover {
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 8 */

.block_8 {
	padding: 30px 0;
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: #000;
	h4 {
		font-size: 14px;
		color: $secondary_color;
	}
	p {
		font-color: #fff !important;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Floats */

.float_left_1,
.float_left_2 {
	padding: 10px;
	left: 0;
	background-color: $secondary_color;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	position: fixed;
	a {
		color: #000;
	}
}

.float_left_1 {
	top: 20%;
}

.float_left_2 {
	bottom: 20%;
}

.float_right {
	padding: 10px;
	top: 45%;
	right: 0;
	position: fixed;
}

/* Register */

.register {
	min-width: 700px;
	h3 {
		font: {
			size: 20px;
			weight: bold;
		}
		letter-spacing: 3px;
	}
	a {
		color: #000;
	}
	a.button {
		background-color: $secondary_color;
		border-radius: 0;
		font-weight: bold;
		color: #000;
	}
	button.button {
		width: 100%;
		background-color: $secondary_color;
		border-radius: 0;
		font-weight: bold;
		color: #000;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}