<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">SOBRE NOSOTROS</h1>
			<p class="text-center">Somos una apuesta por los <strong>territorios y sus comunidades</strong>, que busca el buen vivir y la <strong>felicidad de la gente</strong> a partir de experiencias de <strong>turismo responsable y solidario</strong>, de manera <strong>sostenible y sustentable</strong> en armonía con la dignidad y el cuidado de la <strong>naturaleza</strong>.</p>
			<div class="row align-center align-middle">
				<div class="small-12 medium-3 columns text-center">
					<p class="text-center"><a href=""><img src="build/block_1_1.svg" style="width: 160px;"></a></p>
					<h4 class="text-center"><a href="">CULTURA</a></h4>
				</div>
				<div class="small-12 medium-3 columns text-center">
					<p class="text-center"><a href=""><img src="build/block_1_2.png"></a></p>
					<h4 class="text-center"><a href="">TU</a></h4>
				</div>
				<div class="small-12 medium-3 columns text-center">
					<p class="text-center"><a href=""><img src="build/block_1_3.png"></a></p>
					<h4 class="text-center"><a href="">NATURALEZA</a></h4>
				</div>
			</div>
			<h1 class="text-center">NUESTRO EQUIPO</h1>
			<div class="row align-center">
				<div class="small-12 medium-3 columns">
					<div class="card">
						<div class="card-divider text-center">
							GONZALO MURILLO ESCOBAR
						</div>
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/NE_01.jpg">
						<div class="card-section">
							<h4 class="text-center">ESTRATEGA</h4>
							<p>Gonzalo Murillo Escobar es antropólogo de la Universidad de Antioquia. Enamorado de la vida, caminante empedernido y encarretado con el ciclomontañismo. Su sentido de vida es conocer. Desde hace casi tres décadas se ha dedicado a la gestión social, ambiental y a los derechos humanos, buscando armonizar los intereses del Estado, las empresas y las comunidades. Un convencido de que el turismo comunitario es una oportunidad histórica para hacer justicia distributiva, fortalecer el amor propio, el orgullo de territorio, la conservación y restauración ambiental y la afirmación de las identidades, a través del diálogo intercultural e intergeneracional.</p>
						</div>
					</div>
				</div>
				<div class="small-12 medium-3 columns">
					<div class="card">
						<div class="card-divider text-center">
							SANTIAGO SÁNCHEZ JIMENEZ
						</div>
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/NE_02.jpg">
						<div class="card-section">
							<h4 class="text-center">PENSADOR ORGÁNICO DEL BUEN VIVIR</h4>
							<p>Activista de la felicidad y justicia. Sociólogo, politólogo y antropólogo, dedicado a volver útil el conocimiento para los procesos comunitarios y el cambio social. Especialista en desarrollo y Paz, gestión del conocimiento, movimientos y organizaciones sociales. El hombre no se cansa de aprender de este país a cada paso, porque afirma "el camino es el destino".</p>
						</div>
					</div>
				</div>
				<div class="small-12 medium-3 columns">
					<div class="card">
						<div class="card-divider text-center">
							EDITH JOHANNA MARTÍNEZ
						</div>
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/NE_03.jpg">
						<div class="card-section">
							<h4 class="text-center">CUENTAS CLARAS Y CHOCOLATE ESPESO</h4>
							<p>Contador público enamorada de Dios primeramente, la justicia y la verdad.</p>
							<p>Busca desde su profesión la igualdad y el servicio a la comunidad, ama cuidar el medio ambiente, proteger los recursos naturales, la vida y el cuidado por los mas necesitados, ve como propios los sufrimientos de los demás, convencida que por medio del dialogo se encuentran las soluciones a muchos de los problemas y este es un camino hacia la paz.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success About Us');
		}
	}
</script>