<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">CONVOCATORIAS</h1>
			<div v-for="item in items" :key="item.id" class="row align-center align-middle">
				<div class="small-12 medium-3 columns text-center">
					<img src="https://dummyimage.com/400x400/f1f1f1/ffd600.jpg">
				</div>
				<div class="small-12 medium-9 columns">
					<table class="hover">
						<tbody>
							<tr>
								<td width="30%"><strong>Nombre:</strong></td>
								<td>{{ item.name.es }}</td>
							</tr>
							<tr>
								<td><strong>Tipo:</strong></td>
								<td>{{ item.type }}</td>
							</tr>
							<tr>
								<td><strong>Objetivo:</strong></td>
								<td>{{ item.objective.es }}</td>
							</tr>
							<tr>
								<td><strong>Características:</strong></td>
								<td>{{ item.features.es }}</td>
							</tr>
							<tr>
								<td><strong>¿Qué se Necesita?:</strong></td>
								<td>{{ item.what_do_you_need.es }}</td>
							</tr>
							<tr>
								<td><strong>Fecha Límite:</strong></td>
								<td>{{ item.deadline }}</td>
							</tr>
							<tr>
								<td><strong>Link a Términos de Referencia:</strong></td>
								<td>{{ item.link }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Calls');
		},
		data() {
			return {
				items: []
			}
		},
		created() {
			let uri = '/call';
			this.axios.get(uri).then(response => {
				this.items = response.data.data;
			});
		}
	}
</script>