<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">CONTÁCTENOS</h1>
			<form action="">
				<div class="row align-center align-middle">
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Nombre:</span>
							<input type="text" class="input-group-field">
						</div>
						<div class="input-group">
							<span class="input-group-label">Teléfono:</span>
							<input type="text" class="input-group-field">
						</div>
						<div class="input-group">
							<span class="input-group-label">Celular:</span>
							<input type="text" class="input-group-field">
						</div>
						<div class="input-group">
							<span class="input-group-label">Email:</span>
							<input type="email" class="input-group-field">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Mensaje:</span>
							<textarea name="" id="" class="input-group-field" cols="30" rows="10"></textarea>
						</div>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="ENVIAR" class="button">
				</div>
			</form>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Contact Us');
		}
	}
</script>