<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">DOCUMENTOS</h1>
			<div v-for="item in items" :key="item.id" class="row align-center align-middle">
				<div class="small-12 medium-3 columns text-center">
					<img src="https://dummyimage.com/400x400/f1f1f1/ffd600.jpg">
				</div>
				<div class="small-12 medium-9 columns">
					<table class="hover">
						<tbody>
							<tr>
								<td width="30%"><strong>Título:</strong></td>
								<td>{{ item.name.es }}</td>
							</tr>
							<tr>
								<td><strong>Autor:</strong></td>
								<td>{{ item.author }}</td>
							</tr>
							<tr>
								<td><strong>Año:</strong></td>
								<td>{{ item.year }}</td>
							</tr>
							<tr>
								<td><strong>Archivo:</strong></td>
								<td>{{ item.file }}</td>
							</tr>
							<tr>
								<td><strong>Región:</strong></td>
								<td>
									<table class="stack">
										<tbody>
											<tr>
												<td>{{ item.location_country_1_id }}</td>
												<td>{{ item.location_department_1_id }}</td>
												<td>{{ item.location_township_1_id }}</td>
											</tr>
											<tr>
												<td>{{ item.location_country_2_id }}</td>
												<td>{{ item.location_department_2_id }}</td>
												<td>{{ item.location_township_2_id }}</td>
											</tr>
											<tr>
												<td>{{ item.location_country_3_id }}</td>
												<td>{{ item.location_department_3_id }}</td>
												<td>{{ item.location_township_3_id }}</td>
											</tr>
											<tr>
												<td>{{ item.location_country_4_id }}</td>
												<td>{{ item.location_department_4_id }}</td>
												<td>{{ item.location_township_4_id }}</td>
											</tr>
											<tr>
												<td>{{ item.location_country_5_id }}</td>
												<td>{{ item.location_department_5_id }}</td>
												<td>{{ item.location_township_5_id }}</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td><strong>Tags de Turismo:</strong></td>
								<td>{{ item.tourism_tags }}</td>
							</tr>
							<tr>
								<td><strong>Tags de Tema:</strong></td>
								<td>{{ item.topic_tags }}</td>
							</tr>
							<tr>
								<td><strong>Fuente:</strong></td>
								<td>{{ item.source }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Documents');
		},
		data() {
			return {
				items: []
			}
		},
		created() {
			let uri = '/document';
			this.axios.get(uri).then(response => {
				this.items = response.data.data;
			});
		}
	}
</script>