<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">CRECIENDO JUNTOS</h1>
			<div class="noticias">
				<h3>El 4 y 5 de julio...</h3>
				<p class="text-justify">El 4 y 5 de julio, en la Casa de la Cultura de Chinacota, el primer día, y en los municipios de Ragonvaglia y Herrán, Norte de Santander, el segundo, TUKÁN facilitó un ejercicio de direccionamiento estratégico de organizaciones y pobladores de esta región, bajo el objetivo de definir una estrategia de sostenibilidad, a partir de sus saberes y aprendizajes.</p>
				<p class="text-justify">Como resultado de la jornada se acordó constituir una asociación, de nombre ASODESTINOS, orientada a la asesoría, capacitación, prestación y comercialización de servicios ECOAGROTURISTICOS, en tres dimensiones: 1) la protección y restauración de ecosistemas, 2) la gestión del patrimonio cultural, y 3) la planeación del desarrollo territorial sostenible.</p>
				<p class="text-justify">Con base en estas premisas se estableció un plan operativo para el primer año, que incluye realizar un inventario de los activos y aprendizajes, la definición de propuestas para incidir en los programas y planes de desarrollo a nivel departamental y municipal, y la construcción de modelos y proyectos que permitan acceder a recursos y comercializar los servicios.</p>
			</div>
			<div class="noticias">
				<h3>El pasado 14 y 15 de mayo...</h3>
				<p class="text-justify">El pasado 14 y 15 de mayo, TUKÁN se dio la oportunidad de participar en él X Encuentro Nacional de Turismo Comunitario en Leticia, Amazonas. El espacio fue muy importante porque permitió conocer el estado del arte del turismo comunitario, sus principales actores, retos y su gran potencial.</p>
				<p class="text-justify">Entre los principales aprendizajes para destacar, se encuentra la necesidad de fortalecer la comercialización de los destinos y comenzar a considerar el reconocimiento por ese servicio; así mismo la importancia de construir acuerdos entre los miembros de la comunidad para generar mecanismos respecto del aprovechamiento de los atractivos, que prevengan conflictos y permitan tramitarlos; finalmente, se hizo evidente el valor estratégico que tienen algunas instituciones regionales, como es el caso de la Corporación para el Desarrollo de Caldas, en las labores de promoción, fortalecimiento, articulación y el intercambio de saberes entre los prestadores y operadores de destinos comunitarios.</p>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Growing Up Together');
		}
	}
</script>