<template>
	<div class="row align-center align-middle">
		<div class="small-12 medium-8 columns">
			<!--<h1 class="text-center">BIENVENIDOS A TUKÁN</h1>-->
			<!--<p class="text-center">Somos una apuesta por los <strong>territorios y sus comunidades</strong>, que busca el buen vivir y la <strong>felicidad de la gente</strong> a partir de experiencias de <strong>turismo responsable y solidario</strong>, de manera <strong>sostenible y sustentable</strong> en armonía con la dignidad y el cuidado de la <strong>naturaleza</strong>.</p>-->
			<h1 class="text-center">BÚSQUEDA POR MAPA</h1>
			<div id="map" style="width: 100%;"></div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Home');
		}
	}
</script>