<template>
	<div class="row align-center align-middle inside">
		<div class="small-12 columns">
			<!--<h1 class="text-center">NUESTRAS RUTAS</h1>-->
<div class="row">
	<div class="small-12 medium-7 columns">
		<p class="text-center"><img src="http://development-02-diegomonroy.codeanyapp.com/tukan-test/build/foto.png"></p>
	</div>
	<div class="small-12 medium-5 columns">
		<h1>TITULO DE LA RUTA</h1>
		<div class="description">
			<p>Descripción corta del servicio</p>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
				<li>Item 5</li>
			</ul>
		</div>
		<div class="price">
			<div class="row">
				<div class="small-12 medium-6 columns">PRECIO POR PERSONA</div>
				<div class="small-12 medium-6 columns">$ 80.000 COP</div>
			</div>
			<div class="row text-center">
				<div class="small-12 columns">
					<a href="" class="button">VER FECHAS Y RESERVAR</a>
				</div>
			</div>
		</div>
	</div>
</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Routes');
		}
	}
</script>