<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">INICIAR SESIÓN</h1>
			<div class="callout alert" v-if="has_error">
				<p>Error.</p>
			</div>
			<form autocomplete="off" @submit.prevent="login" method="post">
				<div>
					<input type="email" id="email" placeholder="E-mail" v-model="email" required>
				</div>
				<div>
					<input type="password" id="password" placeholder="Contraseña" v-model="password" required>
				</div>
				<div>
					<button type="submit" class="button">Iniciar Sesión</button>
				</div>
			</form>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Log In');
		},
		data() {
			return {
				email: null,
				password: null,
				has_error: false
			}
		},
		methods: {
			login() {
				var redirect = this.$auth.redirect();
				var app = this;
				this.$auth.login({
					params: {
						email: app.email,
						password: app.password
					},
					success: function () {
						// const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'admin.dashboard' : 'characterization-read';
						const redirectTo = 'perfil';
						this.$router.push({
							name: redirectTo
						});
					},
					error: function () {
						app.has_error = true;
					},
					rememberMe: true,
					fetchUser: true
				});
			}
		}
	}
</script>