<template>
	<div class="row align-center align-middle inside">
		<div class="small-12 columns">
			<h1 class="text-center">NUESTRAS RUTAS</h1>
<div class="row align-center align-middle">
	<div class="small-12 medium-3 columns text-center">
		<router-link to="/nuestras-rutas" class="button">NUESTRAS RUTAS</router-link>
	</div>
	<div class="small-12 medium-3 columns text-center">
		<router-link to="/nuestros-servicios" class="button">NUESTROS SERVICIOS</router-link>
	</div>
</div>
<div class="row align-center align-middle bg">
	<div class="small-12 columns">
		<!--<div class="title">TITULO</div>-->
		<div class="buttons">
			<button class="list-view on"><i class="fa fa-bars"></i></button>
			<button class="grid-view"><i class="fa fa-th"></i></button>
		</div>
		<div class="wrapper list">
		</div>
	</div>
</div>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Routes');
		}
	}
</script>