<template>
	<div class="row align-center align-middle">
		<div class="small-12 columns">
			<h1 class="text-center">TRABAJA CON NOSOTROS</h1>
		</div>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Work With Us');
		}
	}
</script>