<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<Menu></Menu>
			<h1 class="text-center">TRANSPORTE</h1>
			<h2 class="text-center">CREAR</h2>
			<form @submit.prevent="addItem">
				<div class="row">
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Nombre</span>
							<input type="text" class="input-group-field" v-model="item.name">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Qué Tipo de Servicios de Transporte Presta?</span>
							<select class="input-group-field" v-model="item.type_of_transport_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Descripción</span>
							<textarea class="input-group-field" v-model="item.description"></textarea>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Especificaciones</span>
							<textarea class="input-group-field" v-model="item.specifications"></textarea>
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Mínimo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.minimum_of_travelers">
						</div>
					</div>
					<div class="small-12 medium-6 columns">
						<div class="input-group">
							<span class="input-group-label">Máximo de Viajeros</span>
							<input type="number" class="input-group-field" v-model="item.maximum_of_travelers">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunas Fotos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_photos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte Algunos Vídeos</span>
							<input type="text" class="input-group-field" v-model="item.share_some_videos">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">Comparte la Ubicación en Google Maps</span>
							<input type="text" class="input-group-field" v-model="item.location">
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Cuentas con Dispositivos de Seguridad para el Viajero?</span>
							<select class="input-group-field" v-model="item.security_devices">
								<option value="yes">Si</option>
								<option value="no">No</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Cuentas con la Documentación Pertinente?</span>
							<select class="input-group-field" v-model="item.relevant_documentation_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns">
						<div class="input-group">
							<span class="input-group-label">¿Cuéntas con Seguro de Accidentes?</span>
							<select class="input-group-field" v-model="item.accident_insurance_id">
								<option value="1">Prueba</option>
							</select>
						</div>
					</div>
					<div class="small-12 columns text-center">
						<button type="submit" class="button">Guardar</button>
					</div>
				</div>
			</form>
	</div>
	</div>
	</div>
		</div>
	</div>
</template>
<script>
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		mounted() {
			console.log('Success Transport Create');
		},
		components: {
			LeftMenu, Menu
		},
		data() {
			return {
				item: {}
			}
		},
		methods: {
			addItem() {
				let uri = '/transport/create';
				this.axios.post(uri, this.item).then((response) => {
					this.$router.push({
						name: 'transport-read'
					});
				});
			}
		}
	}
</script>