<template>
<div class="card">
<div class="card-divider">
<h4>Tarifas</h4>
</div>
<div class="card-section">
<form action="" v-on:submit.prevent="newItem()">
<input type="hidden" name="service_accommodation_id" value="1" v-model="service_accommodation_id">
<div class="input-group">
<span class="input-group-label">Precio por Viajero / Noche:</span>
<input type="number" name="price" class="input-group-field" v-model="price">
</div>
<div class="input-group">
<span class="input-group-label">Otros Costos:</span>
<input type="number" name="price_other" class="input-group-field" v-model="price_other">
</div>
<div class="input-group">
<span class="input-group-label">Desde Cuándo:</span>
<input type="date" name="since_when" class="input-group-field" v-model="since_when">
</div>
<div class="input-group">
<span class="input-group-label">Hasta Cuándo:</span>
<input type="date" name="even_when" class="input-group-field" v-model="even_when">
</div>
<div class="text-center">
<button type="submit" class="button">Enviar</button>
</div>
</form>
</div>
</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success')
		},
		data() {
			return {
				'service_accommodation_id': '',
				'price': '',
				'price_other': '',
				'since_when': '',
				'even_when': ''
			}
		},
		methods: {
			newItem() {
				const params = {
					service_accommodation_id: this.service_accommodation_id,
					price: this.price,
					price_other: this.price_other,
					since_when: this.since_when,
					even_when: this.even_when
				}
				this.service_accommodation_id = '';
				this.price = '';
				this.price_other = '';
				this.since_when = '';
				this.even_when = '';
				axios.post('/accommodation_rates', params)
					.then((response) => {
						const item = response.data;
						this.$emit('new', item);
					}
				);
			}
		}
	}
</script>