<template>
	<div class="row">
		<div class="small-12 columns">
			<Form @new="addItem"></Form>
			<Table
				   v-for="(item, index) in items"
				   :key="item.id"
				   :item="item"
				   @update="updateItem(index, ...arguments)"
				   @delete="deleteItem(index)">
			</Table>
		</div>
	</div>
</template>
<script>
	import Form from '@/js/components/accommodation_crud/rates/Form';
	import Table from '@/js/components/accommodation_crud/rates/Table';
	export default {
		mounted() {
			console.log('Success');
			axios.get('/accommodation_rates').then((response) => {
				this.items = response.data;
			});
		},
		components: {
			Form, Table
		},
		data() {
			return {
				items: []
			}
		},
		methods: {
			addItem(item) {
				this.items.push(item);
			},
			updateItem(index, item) {
				this.items[index] = item;
			},
			deleteItem(index) {
				this.items.splice(index, 1);
			}
		}
	}
</script>