<template>
<table class="unstriped">
<thead>
<tr>
<td>Precio por Viajero / Noche</td>
<td>Otros Costos</td>
<td>Desde Cuándo</td>
<td>Hasta Cuándo</td>
<td>Editar</td>
<td>Eliminar</td>
</tr>
</thead>
<tbody>
<td>
	<input v-if="editMode" type="number" class="input-group-field" v-model="item.price">
	<p v-else>{{ item.price }}</p>
</td>
<td>
	<input v-if="editMode" type="number" class="input-group-field" v-model="item.price_other">
	<p v-else>{{ item.price_other }}</p>
</td>
<td>
	<input v-if="editMode" type="date" class="input-group-field" v-model="item.since_when">
	<p v-else>{{ item.since_when }}</p>
</td>
<td>
	<input v-if="editMode" type="date" class="input-group-field" v-model="item.even_when">
	<p v-else>{{ item.even_when }}</p>
</td>
<td>
	<button v-if="editMode" class="button" v-on:click="onClickUpdate()">Guardar</button>
	<button v-else class="button warning" v-on:click="onClickEdit()">Editar</button>
</td>
<td><button class="button alert" v-on:click="onClickDelete()">Eliminar</button></td>
</tbody>
</table>
</template>
<script>
	export default {
		mounted() {
			console.log('Success')
		},
		props: ['item'],
		data() {
			return {
				editMode: false
			}
		},
		methods: {
			onClickEdit() {
				this.editMode = true;
			},
			onClickUpdate() {
				const params = {
					service_accommodation_id: this.item.service_accommodation_id,
					price: this.item.price,
					price_other: this.item.price_other,
					since_when: this.item.since_when,
					even_when: this.item.even_when
				}
				axios.put(`/accommodation_rates/${this.item.id}`, params).then((response) => {
					this.editMode = false;
					const item = response.data;
					this.$emit('update', item);
				});
			},
			onClickDelete() {
				axios.delete(`/accommodation_rates/${this.item.id}`).then((response) => {
					this.$emit('delete');
				});
			}
		}
	}
</script>