<template>
	<div class="row align-center align-middle bg">
		<div class="small-12 columns">
			<div class="profile">
				<div class="row">
					<LeftMenu></LeftMenu>
					<div class="small-12 medium-10 columns b">
			<h1 class="text-center">RUTAS</h1>
<div class="row">
	<div class="small-12 medium-6 columns">
		<h3 class="text-center">Servicios</h3>
		<draggable
			class="dragArea list-group"
			:list="list1"
			:group="{ name: 'people', pull: 'clone', put: false }"
			:clone="cloneDog"
			@change="log"
		>
			<div class="list-group-item" v-for="element in list1" :key="element.id">
				<button class="button small large-expanded">{{ element.name }}</button>
			</div>
		</draggable>
	</div>
	<div class="small-12 medium-6 columns">
		<h3 class="text-center">Ruta</h3>
		<draggable
			class="dragArea list-group"
			:list="list2"
			group="people"
			@change="log"
		>
			<div class="list-group-item" v-for="element in list2" :key="element.id">
				<button class="button small large-expanded">{{ element.name }}</button>
			</div>
		</draggable>
	</div>
	<!--<rawDisplayer class="small-12 medium-6 columns" :value="list1" title="List 1" />-->
	<!--<rawDisplayer class="small-12 medium-6 columns" :value="list2" title="List 2" />-->
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import draggable from 'vuedraggable';
	let idGlobal = 8;
	import LeftMenu from '@/js/components/crud/Left_Menu';
	import Menu from '@/js/components/crud/Menu';
	export default {
		name: "custom-clone",
		display: "Custom Clone",
		order: 3,
		mounted() {
			console.log('Success Characterization Read');
		},
		components: {
			LeftMenu, Menu, draggable
		},
data() {
return {
list1: [
{ name: "Servicio 1", id: 1 },
{ name: "Servicio 2", id: 2 },
{ name: "Servicio 3", id: 3 },
{ name: "Servicio 4", id: 4 }
],
list2: [
{ name: "Servicio 5", id: 5 },
{ name: "Servicio 6", id: 6 },
{ name: "Servicio 7", id: 7 }
]
};
},
methods: {
log: function(evt) {
window.console.log(evt);
},
cloneDog({ id }) {
return {
id: idGlobal++,
name: `Servicio Nuevo ${id}`
};
}
}
	}
</script>
<style scoped></style>