<template>
	<div>
		<Top></Top>
		<Banner v-show="this.$route.name==='home'"></Banner>
		<section class="content" v-bind:class="{ 'inside-form': isActive }">
			<transition name="fade">
				<router-view></router-view>
			</transition>
		</section>
		<Block_1 v-show="this.$route.name==='home'"></Block_1>
		<Block_2 v-show="this.$route.name==='home'"></Block_2>
		<Block_3 v-show="this.$route.name==='home'"></Block_3>
		<Block_4 v-show="this.$route.name==='home'"></Block_4>
		<Block_8 v-show="this.$route.name==='home'"></Block_8>
		<Block_5></Block_5>
		<Block_6></Block_6>
		<Block_7></Block_7>
		<Bottom></Bottom>
		<Copyright></Copyright>
		<Float_1></Float_1>
		<Float_2></Float_2>
		<Float_3></Float_3>
		<Register></Register>
	</div>
</template>
<style>
	.fade-enter-active,
	.fade-leave-active {
		transition: opacity .5s;
	}
	.fade-enter,
	.fade-leave-active {
		opacity: 0;
	}
</style>
<script>
	import Top from '@/js/layouts/Top';
	import Banner from '@/js/layouts/Banner';
	import Block_1 from '@/js/layouts/Block_1';
	import Block_2 from '@/js/layouts/Block_2';
	import Block_3 from '@/js/layouts/Block_3';
	import Block_4 from '@/js/layouts/Block_4';
	import Block_5 from '@/js/layouts/Block_5';
	import Block_6 from '@/js/layouts/Block_6';
	import Block_7 from '@/js/layouts/Block_7';
	import Block_8 from '@/js/layouts/Block_8';
	import Bottom from '@/js/layouts/Bottom';
	import Copyright from '@/js/layouts/Copyright';
	import Float_1 from '@/js/layouts/Float_1';
	import Float_2 from '@/js/layouts/Float_2';
	import Float_3 from '@/js/layouts/Float_3';
	import Register from '@/js/layouts/Register';
	export default {
		mounted() {
			console.log('Success App');
		},
		components: {
			Top, Banner, Block_1, Block_2, Block_3, Block_4, Block_5, Block_6, Block_7, Block_8, Bottom, Copyright, Float_1, Float_2, Float_3, Register
		},
		data() {
			return {
				isActive: false
			}
		},
		created() {
			switch ( this.$route.name ) {
				case 'profile':
				case 'routes-read':
				case 'reports':
				case 'documentation-update':
				case 'characterization-read':
				case 'characterization-create':
				case 'characterization-update':
				case 'accommodation-read':
				case 'accommodation-create':
				case 'accommodation-update':
				case 'transport-read':
				case 'transport-create':
				case 'transport-update':
				case 'guidance-read':
				case 'guidance-create':
				case 'guidance-update':
				case 'feeding-read':
				case 'feeding-create':
				case 'feeding-update':
				case 'culture-read':
				case 'culture-create':
				case 'culture-update':
				case 'reset-password':
				case 'forgot-password':
					this.isActive = true;
					break;
				default:
					this.isActive = false;
					break;
			}
		}
	}
</script>