<template>
	<section class="banner">
		<div class="row align-center align-middle">
			<div class="small-12 medium-6 columns text-center a">
				<img src="build/banner.png">
			</div>
			<div class="small-12 medium-6 columns text-center b">
				<router-link to="/nuestras-rutas" class="button">NUESTRAS RUTAS</router-link>
				<router-link to="/nuestros-servicios" class="button">NUESTROS SERVICIOS</router-link>
				<ul class="tabs" data-tabs id="search-tabs">
					<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">BÚSQUEDA POR FILTROS</a></li>
					<!--<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">BÚSQUEDA POR MAPA</a></li>-->
				</ul>
				<div class="tabs-content" data-tabs-content="search-tabs">
					<div class="tabs-panel is-active" id="panel1">
						<form action="">
							<div class="row">
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Destino:</span>
										<input type="text" placeholder="Busca por palabra clave" class="input-group-field">
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<span class="input-group-label">Fechas:</span>
										<input type="date" placeholder="Desde" class="input-group-field">
										<input type="date" placeholder="Hasta" class="input-group-field">
										<select class="input-group-field">
											<option value="">Región</option>
										</select>
									</div>
								</div>
								<div class="small-12 colums">
									<div class="slider" data-slider data-initial-start="25" data-initial-end="75">
										<span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
										<span class="slider-fill" data-slider-fill></span>
										<span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
										<input type="hidden">
										<input type="hidden">
									</div>
								</div>
								<div class="small-12 columns">
									<div class="input-group">
										<select class="input-group-field">
											<option value="">Tipo de Turismo</option>
										</select>
										<select class="input-group-field">
											<option value="">Tipo de Alojamiento</option>
										</select>
										<div class="input-group-button">
											<input type="submit" value="Enviar" class="button">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--<div class="tabs-panel" id="panel2">
						<div id="map"></div>
					</div>-->
				</div>
			</div>
		</div>
	</section>
</template>
<style>
#map {
	width: 560px;
	height: 260px;
}
</style>
<script>
	export default {
		mounted() {
			console.log('Success Banner');
		}
	}
</script>