<template>
	<section class="block_7">
		<div class="row align-center align-middle">
			<div class="small-12 medium-8 columns">
				<ul class="menu align-center">
					<!--<li><router-link to="/trabaja-con-nosotros">TRABAJA CON NOSOTROS</router-link></li>-->
					<li><router-link to="/pqr">PQR</router-link></li>
					<li><router-link to="/terminos-y-condiciones">TÉRMINOS Y CONDICIONES</router-link></li>
					<li><router-link to="/contactenos">CONTÁCTENOS</router-link></li>
				</ul>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 7');
		}
	}
</script>