<template>
	<section class="block_5">
		<div class="row align-center align-middle">
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><img src="/build/icon_facebook.png" title="Facebook" alt="Facebook"></p>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><img src="/build/icon_twitter.png" title="Twitter" alt="Twitter"></p>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><img src="/build/icon_instagram.png" title="Instagram" alt="Instagram"></p>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><img src="/build/icon_youtube.png" title="YouTube" alt="YouTube"></p>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 5');
		}
	}
</script>