<template>
	<section class="block_8">
		<div class="row collapse expanded align-center align-middle">
			<div class="owl-carousel owl-theme">
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/01.jpg" data-fancybox="images" data-caption="Bahía Málaga- La Barra">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/01.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/02.jpg" data-fancybox="images" data-caption="Cocuy">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/02.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/03.jpg" data-fancybox="images" data-caption="Guaviare- La Lindosa">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/03.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/04.jpg" data-fancybox="images" data-caption="La Cocha">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/04.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/05.jpg" data-fancybox="images" data-caption="Leticia">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/05.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/06.jpg" data-fancybox="images" data-caption="Quibdó">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/06.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/07.jpg" data-fancybox="images" data-caption="San Antero">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/07.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/08.jpg" data-fancybox="images" data-caption="Suesca">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/08.jpg">
					</a>
				</div>
				<div class="small-12 columns item">
					<a href="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/09.jpg" data-fancybox="images" data-caption="Taganga">
						<img src="http://development-02-diegomonroy.codeanyapp.com/tukan/public/uploads/09.jpg">
					</a>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 8');
		}
	}
</script>