<template>
	<section class="block_6">
		<div class="row align-center align-middle">
			<div class="small-12 medium-8 columns">
				<form action="">
					<div class="input-group">
						<span class="input-group-label">Suscríbete a nuestro boletín</span>
						<input type="text" class="input-group-field">
						<div class="input-group-button">
							<input type="submit" value="Enviar" class="button">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 6');
		}
	}
</script>