<template>
	<!--<section class="block_1">
		<div class="row align-center align-middle">
			<div class="small-12 medium-3 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_1_1.svg" style="width: 160px;"></a></p>
				<h4 class="text-center"><a href="">CULTURA</a></h4>
			</div>
			<div class="small-12 medium-3 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_1_2.png"></a></p>
				<h4 class="text-center"><a href="">TU</a></h4>
			</div>
			<div class="small-12 medium-3 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_1_3.png"></a></p>
				<h4 class="text-center"><a href="">NATURALEZA</a></h4>
			</div>
		</div>
	</section>-->
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 1');
		}
	}
</script>