<template>
	<section class="block_3">
		<h3 class="text-center">NUESTROS SERVICIOS</h3>
		<div class="row align-center align-middle">
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_3_1.png"></a></p>
				<h4 class="text-center"><a href="">ALOJAMIENTO</a></h4>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_3_2.png"></a></p>
				<h4 class="text-center"><a href="">ALIMENTACIÓN</a></h4>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_3_3.png"></a></p>
				<h4 class="text-center"><a href="">TRANSPORTE</a></h4>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_3_4.png"></a></p>
				<h4 class="text-center"><a href="">GUIANZA</a></h4>
			</div>
			<div class="small-12 medium-2 columns text-center">
				<p class="text-center"><a href=""><img src="build/block_3_5.png"></a></p>
				<h4 class="text-center"><a href="">CULTURA</a></h4>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 3');
		}
	}
</script>