<template>
	<section class="block_2">
		<h3 class="text-center">NUESTRAS RUTAS</h3>
		<div class="container">
			<div class="row align-center align-middle">
				<div class="owl-carousel owl-theme">
					<div class="small-12 columns item">
						<div class="box">
							<div class="image text-center"><img src="build/block_2_1.png"></div>
							<div class="title">TÍTULO DE LA RUTA</div>
							<div class="description">
								<p>Descripción corta del servicio</p>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
									<li>Item 4</li>
									<li>Item 5</li>
								</ul>
							</div>
							<div class="view_more text-center"><a href="" class="button">Leer más</a></div>
						</div>
					</div>
					<div class="small-12 columns item">
						<div class="box">
							<div class="image text-center"><img src="build/block_2_1.png"></div>
							<div class="title">TÍTULO DE LA RUTA</div>
							<div class="description">
								<p>Descripción corta del servicio</p>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
									<li>Item 4</li>
									<li>Item 5</li>
								</ul>
							</div>
							<div class="view_more text-center"><a href="" class="button">Leer más</a></div>
						</div>
					</div>
					<div class="small-12 columns item">
						<div class="box">
							<div class="image text-center"><img src="build/block_2_1.png"></div>
							<div class="title">TÍTULO DE LA RUTA</div>
							<div class="description">
								<p>Descripción corta del servicio</p>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
									<li>Item 4</li>
									<li>Item 5</li>
								</ul>
							</div>
							<div class="view_more text-center"><a href="" class="button">Leer más</a></div>
						</div>
					</div>
					<div class="small-12 columns item">
						<div class="box">
							<div class="image text-center"><img src="build/block_2_1.png"></div>
							<div class="title">TÍTULO DE LA RUTA</div>
							<div class="description">
								<p>Descripción corta del servicio</p>
								<ul>
									<li>Item 1</li>
									<li>Item 2</li>
									<li>Item 3</li>
									<li>Item 4</li>
									<li>Item 5</li>
								</ul>
							</div>
							<div class="view_more text-center"><a href="" class="button">Leer más</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Block 2');
		}
	}
</script>