<template>
	<section class="bottom">
		<div class="row align-center align-middle">
			<div class="small-12 medium-4 columns text-center">
				<a href=""><img src="/build/logo.png" title="Tukán" alt="Tukán"></a>
			</div>
			<div class="small-12 medium-4 columns">
				<h4>Medios de Pago</h4>
				<a href=""><img src="/build/payments.png"></a>
				<p><a href="">Ver todos los medios de pago</a></p>
			</div>
			<div class="small-12 medium-4 columns">
				<h4>¿Alguna duda? ¡Contáctanos!</h4>
				<p>
					ATENCIÓN TELEFÓNICA<br />
					Lun a Vie de 8:00 am. a 5:00 pm.<br />
					Sáb de 8:00 am. a 12:00 m.
				</p>
				<h4>+57 311 4684958</h4>
				<p><a href="mailto:viaja@tukantravel.com">viaja@tukantravel.com</a></p>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Bottom');
		}
	}
</script>