<template>
	<section class="copyright">
		<div class="row align-center align-middle text-center">
			<div class="small-12 columns">
				&copy; 2019 <a href="">Tukán</a>. Todos los derechos reservados. Sitio desarrollado por <a href="http://www.amapolazul.com" target="_blank">Amapolazul</a>.
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Copyright');
		}
	}
</script>