<template>
	<div class="float_left_2">
		<router-link to="/creciendo-juntos">CRECIENDO JUNTOS</router-link>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Float 2');
		}
	}
</script>