<template>
	<div class="float_left_1">
		<!--<router-link to="/ofrecer-mis-servicios">OFRECER MIS SERVICIOS</router-link>-->
		<router-link to="/characterization/step-1">OFRECER MIS SERVICIOS</router-link>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Float 1');
		}
	}
</script>