<template>
	<div class="float_right">
		<p><a href="https://api.whatsapp.com/send?phone=573165683165&text=Buen%20d%C3%ADa,%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20sobre" target="_blank"><img src="/build/icon_whatsapp.png"></a></p>
		<p><a href=""><img src="/build/icon_chat.png"></a></p>
	</div>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Float 3');
		}
	}
</script>