<template>
	<section id="hidden-content" style="display: none;" class="register">
		<div class="row align-center align-middle">
			<div class="small-12 medium-4 columns text-center">
				<p><img src="build/tukan_login.png" title="Tukán" alt="Tukán"></p>
				<p>Ya Soy un Tukán Travel</p>
				<p><router-link to="/iniciar-sesion" class="button">Iniciar Sesión</router-link></p>
			</div>
			<div class="small-12 medium-8 columns">
				<div class="row align-center align-middle">
					<div class="small-12 medium-6 columns">
						<h3>REGISTRARSE</h3>
					</div>
					<div class="small-12 medium-6 columns">
						<p class="text-right"><v-facebook-login app-id="245631063118343"></v-facebook-login></p>
						<!--<p class="text-right"><a href="" target="_blank"><img src="build/icon_facebook.png"> Usar mi cuenta</a></p>-->
					</div>
				</div>
				<div class="callout alert" v-if="has_error && !success">
					<p v-if="error == 'registration_validation_error'">Errores de validación.</p>
					<p v-else>Error, no se puede registrar en el momento. Si el problema persiste, póngase en contacto con un administrador.</p>
				</div>
				<form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
					<div>
						<input type="text" id="name" placeholder="Nombres" v-model="name">
					</div>
					<div>
						<input type="text" id="surname" placeholder="Apellidos" v-model="surname">
					</div>
					<div>
						<input type="text" id="cellphone" placeholder="Celular" v-model="cellphone">
					</div>
					<div>
						<input type="email" id="email" placeholder="E-mail" v-model="email">
						<div class="callout small alert" v-if="has_error && errors.email">{{ errors.email }}</div>
					</div>
					<div>
						<input type="password" id="password" placeholder="Contraseña" v-model="password">
						<div class="callout small alert" v-if="has_error && errors.password">{{ errors.password }}</div>
					</div>
					<div>
						<input type="password" id="password_confirmation" placeholder="Confirmación de Contraseña" v-model="password_confirmation">
					</div>
					<div>
						<button type="submit" class="button">Registrarme</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</template>
<script>
	import VFacebookLogin from 'vue-facebook-login-component'
	export default {
		mounted() {
			console.log('Success Register');
		},
components: {
VFacebookLogin
},
		data() {
			return {
				name: '',
				surname: '',
				cellphone: '',
				email: '',
				password: '',
				password_confirmation: '',
				has_error: false,
				error: '',
				errors: {},
				success: false
			}
		},
		methods: {
			register() {
				var app = this;
				this.$auth.register({
					data: {
						name: app.name,
						email: app.email,
						password: app.password,
						password_confirmation: app.password_confirmation
					},
					success: function () {
						app.success = true;
						this.$router.push({
							name: 'log-in',
							params: {
								successRegistrationRedirect: true
							}
						});
					},
					error: function ( res ) {
						console.log(res.response.data.errors);
						app.has_error = true;
						app.error = res.response.data.error;
						app.errors = res.response.data.errors || {};
					}
				});
			}
		}
	}
</script>