<template>
	<section class="top">
		<div class="row">
			<div class="small-12 medium-3 columns text-center a">
				<router-link to="/"><img src="/build/logo.png" title="Tukán" alt="Tukán"></router-link>
			</div>
			<div class="small-12 medium-6 columns b">
				<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
					<button class="menu-icon" type="button" data-toggle="main-menu"></button>
					<div class="title-bar-title">Menú</div>
				</div>
				<div class="top-bar" id="main-menu">
					<div class="top-bar-left">
						<ul class="dropdown menu" data-dropdown-menu>
							<li><router-link to="/" active-class="active">INICIO</router-link></li>
							<li><router-link to="/sobre-nosotros" active-class="active">SOBRE NOSOTROS</router-link></li>
							<li><router-link to="/convocatorias" active-class="active">CONVOCATORIAS</router-link></li>
							<li><router-link to="/documentos" active-class="active">DOCUMENTOS</router-link></li>
							<li><router-link to="/contactenos" active-class="active">CONTÁCTENOS</router-link></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="small-12 medium-3 columns text-center c">
				<div class="row align-center align-middle">
					<div class="small-12 medium-4 columns">
						<form action="">
							<select name="">
								<option value="">ESPAÑOL</option>
								<option value="">INGLES</option>
							</select>
						</form>
					</div>
					<div class="small-12 medium-4 columns">
						<form action="">
							<select name="">
								<option value="">COP</option>
								<option value="">USD</option>
							</select>
						</form>
					</div>
					<div class="small-12 medium-2 columns text-center">
						<a data-fancybox data-src="#hidden-content" href="javascript:;"><img src="/build/icon_user.png"></a>
<div v-if="$auth.check()">
<a href="#" @click.prevent="$auth.logout()">Salir</a>
</div>
					</div>
					<div class="small-12 medium-2 columns text-center">
						<a href="http://www.tukantravel.com/cart" target="_blank"><img src="/build/icon_bag.png"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
<script>
	export default {
		mounted() {
			console.log('Success Top');
		}
	}
</script>